$imp: !important;

$tema: #9C5959;
$azul: #337AB7;
$azulesc: #1b2cd0;
$vermelho: red;
$cinza-c: #f8f8f8;
$cinza: #cccccc;
$laranja: #FF6666;

$negrito: bold;
$italico: italic;
$sublinhado: underline;

/* isso aqui nao funciona mesmo
$margr: margin-right;
$margl: margin-left;
$margt: margin-top;
$margb: margin-bottom;

$padr: padding-right;
$padl: padding-left;
$padt: padding-top;
$padb: padding-bottom;
*/
@mixin t($t,$c){
    font-size: $t;
    color: $c;
}

@mixin bordas($var){
    -webkit-border-radius: $var;
    -moz-border-radius: $var;
    -ms-border-radius: $var;
    border-radius: $var;
}

@mixin x-mt($x){
    margin-top: $x $imp;
}
