@import "_variaveis.scss";

#gif{
    position: absolute;        
    width: 100%;
    height: 100%;
    bottom: 0px;
    z-index: 1000;    
}

/*essa correção abaixo é para o caso de usar uma row após um container
e não ficar com o scroll visivel na horizontal, é um bug
EM VEZ DE USAR ESSA GAMBIARRA, ACHEI A CLASSE NO-GUTTERS DO PROPRIO BOOTSTRAP
.row{
    margin-right: 0px $imp;
    margin-left: 0px $imp;
}
*/
.carousel-control-prev,.carousel-control-next,
.carousel-control-prev:hover,.carousel-control-next:hover,
.carousel-control-prev:focus,.carousel-control-next:focus{
    color: cadetblue;
}


#absoluto{
    position: absolute;
    top: 20px;    
    width: 100%;            
    z-index: 100;    
  }    
.sombreado{
    /*feito dessa forma burla o problema do opacity
    as letras ficam de fora da transparencia*/
    background-color: rgba(47, 44, 44, 0.6);    
}

.fixa-menu-0{
    position: -webkit-sticky $imp;
    position: sticky $imp;
    top: 0px;
    z-index: 10;
    font-weight: normal !important;
}


//essas tres abaixo, sao usadas em conjunto com o js de rolar a pagina
.efeito-cima{
    opacity: 0;
    top: -50px;
}
.efeito-dir{
    opacity: 0;
    right: -50px;
}
.efeito-esq{
    opacity: 0;
    left: -50px;		
}
.efeito-baixo{
    opacity: 0;
    bottom: -50px;
}