@charset "UTF-8";

/* isso aqui nao funciona mesmo
$margr: margin-right;
$margl: margin-left;
$margt: margin-top;
$margb: margin-bottom;

$padr: padding-right;
$padl: padding-left;
$padt: padding-top;
$padb: padding-bottom;
*/

html,
body {
  height: 100% !important;
}

.index-0 {
  z-index: 0 !important;
}

.d-flex {
  height: inherit !important;
}

alert-mini {
  padding: 5px;
  margin-bottom: 50px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.table-responsive {
  overflow-y: auto !important;
}

.vertical-tabel-scroll {
  display: inline-block;
  overflow-y: auto !important;
}

.vertical-tabel-scroll > tr > th,
.vertical-tabel-scroll > tr > td {
  /* nao da certo o margin e o pad fica diferente de acordo com o tamanho do texto
    margin-left: 10px $imp;
    margin-right: 10px $imp;
    padding-left: 10px;
    padding-right: 10px;
    */
  min-width: 150px !important;
  /*
    nao da certo se nao usar o table-responsive, entao a barra vertical nao fica sempre visível 
    */
}

.cursor-mao {
  cursor: pointer;
}

.cursor-tempo {
  cursor: progress;
}

.cursor-mover {
  cursor: all-scroll;
}

.cursor-mais {
  cursor: cell;
}

.cursor-x {
  cursor: col-resize;
}

/*o navbar-brand tem o padding de 15*/

.logo-menu {
  float: left;
  height: 50px;
  margin-top: 5px;
  font-size: 18px;
  line-height: 20px;
}

.arredonda_bordas {
  border-radius: 10px !important;
}

.input-l-preto {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid black !important;
  outline: none !important;
  font-size: 12pt !important;
}

.input-l-verde {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #008000 !important;
  outline: none !important;
  font-size: 12pt !important;
}

.input-l-vermelho {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid red !important;
  outline: none !important;
  font-size: 12pt !important;
}

.estica:hover {
  left: -5px;
  width: 110%;
}

