/* isso aqui nao funciona mesmo
$margr: margin-right;
$margl: margin-left;
$margt: margin-top;
$margb: margin-bottom;

$padr: padding-right;
$padl: padding-left;
$padt: padding-top;
$padb: padding-bottom;
*/

/*
@font-face {
    font-family: FontAwesome;
    src: url('../../../../node_modules/font-awesome/fonts/FontAwesome.otf');
}

@font-face {
    font-family: fontawesome-webfont;
    src: url('../../../../node_modules/font-awesome/fonts/fontawesome-webfont.ttf');
}


@font-face {
    font-family: Psilly;
    src: url('../fontes/Psilly.otf');
}

@font-face {
    font-family: DK Midnight Chalker;
    src: url('../fontes/DK Midnight Chalker.otf');
}

@font-face {
    font-family: Reey;
    src: url('../fontes/reey-regular.otf');
}

@font-face {
    font-family: TheNovice;
    src: url('../fontes/thenovice.ttf');
}

@font-face {
    font-family: batmfa__;
    src: url('../fontes/batmfa__.ttf');
}

@font-face {
    font-family: caricature;
    src: url('../fontes/caricature.ttf');
}

@font-face {
    font-family: Lucida Sans Typewriter Regular;
    src: url('../fontes/LTYPE.ttf');
}

@font-face {
    font-family: Perfetto;
    src: url('../fontes/perfetto-regular.ttf');
}

@font-face {
    font-family: Southampton;
    src: url('../fontes/southampton.ttf');
}

.font-southampton{
    font-family: 'Southampton';
    font-size: 26px;
}
*/

/*FAMILIAS*/

.fontAwesome {
  font-family: FontAwesome !important;
}

.fontawesome-webfont {
  font-family: fontawesome-webfont !important;
}

.font-lucida {
  font-family: Lucida Sans Typewriter Regular !important;
}

.font-perfetto {
  font-family: Perfetto !important;
}

.font-dk {
  font-family: DK Midnight Chalker !important;
}

.font-reey {
  font-family: Reey !important;
}

.font-psilly {
  font-family: Psilly !important;
}

.font-batman {
  font-family: batmfa__ !important;
}

.font-novice {
  font-family: TheNovice !important;
}

/*ESTILOS*/

.negrito {
  font-weight: bold;
}

.italico {
  font-style: italic;
}

.sublinhado {
  text-decoration: underline;
}

.sem-sub {
  text-decoration: none !important;
}

.sem-sub-grupo a {
  text-decoration: none !important;
}

/*TAMANHOS*/

.font-t18 {
  font-size: 18px !important;
}

.font-t20 {
  font-size: 20px !important;
}

.font-t22 {
  font-size: 22px !important;
}

.font-t24 {
  font-size: 24px !important;
}

.text-azul-menu {
  color: #1b2cd0 !important;
}

.text-verde {
  color: #009966 !important;
}

.text-marrom {
  color: #996600 !important;
}

.text-logo {
  color: #CC6633 !important;
}

.a-branco,
.a-branco a {
  color: #FFFFFF !important;
}

.a-vermelho {
  color: #ff3333 !important;
}

