.bimg-back1{
    position: absolute;
    margin: 20px;    
    background-image: url("http://localhost/opineaqui/img/fundos/back1.png");
    
    filter: blur(3px);
}

.bimg-madeira{
    background-image: url("http://localhost/opineaqui/img/madeira.jpg");
}

.teste:link{
    filter: blur(3px);
}