@import "../_variaveis.scss";

html,body{
    height: 96% $imp;
}

.index-0{
    z-index: 0 $imp;
}

.d-flex{
    height: inherit $imp;
}

alert-mini{
    padding: 5px;
    margin-bottom: 50px;
    border: 1px solid transparent;
    border-radius: 2px
}

.table-responsive{
    overflow-y: auto $imp;
}
.vertical-tabel-scroll{
    display: inline-block;
    overflow-y: auto $imp;
}
.vertical-tabel-scroll > tr > th,.vertical-tabel-scroll > tr > td{
    /* nao da certo o margin e o pad fica diferente de acordo com o tamanho do texto
    margin-left: 10px $imp;
    margin-right: 10px $imp;
    padding-left: 10px;
    padding-right: 10px;
    */
    min-width: 150px $imp;
    /*
    nao da certo se nao usar o table-responsive, entao a barra vertical nao fica sempre visível 
    */
}


.cursor-mao{
    cursor: pointer;
}

.cursor-tempo{
    cursor: progress;
}

.cursor-mover{
    cursor: all-scroll;
}
.cursor-mais{
    cursor: cell;
}
.cursor-x{
    cursor: col-resize;
}




/*o navbar-brand tem o padding de 15*/
.logo-menu{
    float: left;
    height: 50px;    
    margin-top: 5px;
    font-size: 18px;
    line-height: 20px;
}


.arredonda_bordas{
    border-radius: 10px $imp;
}




.input-l-preto{
    border-top: none $imp;
    border-left: none $imp;
    border-right: none $imp;
    border-bottom: 1px solid black $imp;
    outline: none $imp;
    font-size: 12pt $imp;
}
.input-l-verde{
    border-top: none $imp;
    border-left: none $imp;
    border-right: none $imp;
    border-bottom: 1px solid #008000 $imp;
    outline: none $imp;
    font-size: 12pt $imp;    
}
.input-l-vermelho{    
    border-top: none $imp;
    border-left: none $imp;
    border-right: none $imp;
    border-bottom: 1px solid red $imp;
    outline: none $imp;
    font-size: 12pt $imp;    
}

.estica:hover{
    left: -5px;
    width: 110%;        
}