@import "../_variaveis.scss";

.bg-branco{
    background-color: white;        
}

.bg-tema{
    background-color: #337AB7 $imp;    
}
.border-tema{
    border-color: #337AB7 $imp;    
}
.btn-tema{
    background-color: #337AB7 $imp;    
    color: white;
}
.bg-tema-esc{
    background-color: #9C5959 $imp;    
}
.border-tema-esc{
    border-style: ridge;
    border-width: 1px;
    border-color: #9C5959 $imp;    
}
.border-y-tema-esc{
    border-style: ridge;
    border-width: 1px;
    border-bottom-color: #9C5959 $imp;    
    border-top-color: #9C5959 $imp;    
}
.btn-tema-esc{
    background-color: #9C5959 $imp;    
    color: white;
}.bg-tema{
    background-color: #337AB7 $imp;    
}
.border-tema{
    border-color: #337AB7 $imp;    
}
.btn-tema{
    background-color: #337AB7 $imp;    
    color: white;
}
.bg-tema-esc{
    background-color: #337AB7 $imp;    
}
.border-tema-esc{
    border-style: ridge;
    border-width: 1px;
    border-color: #337AB7 $imp;    
}
.border-y-tema-esc{
    border-style: ridge;
    border-width: 1px;
    border-bottom-color: #337AB7 $imp;    
    border-top-color: #337AB7 $imp;    
}
.btn-tema-esc{
    background-color: rgb(44, 102, 153) $imp;    
    color: white;
}
.text-tema{
    color: #337AB7 $imp;
}


.bg-verde{
    background-color: #1D9B72 $imp;
    color: white $imp;
}
.bg-verde:hover{
    background-color:  #398439 $imp;
    border-color: #255625 $imp;
}


.bg-verde-claro{
    background-color: #4DBFBF $imp;
    color: white $imp;
}


.bg-amarelo{
    background-color: #F0AD4E $imp;
    color: white $imp;
}
.bg-amarelo:hover{
    background-color:  #d58512 $imp;
    border-color: #985f0d $imp;
}


.bg-vermelho{
    background-color: #D9534F $imp;
    color: white $imp;
}
.bg-laranja{
    background-color: $laranja $imp;
    color: white $imp;
}

.bg-cinza{
    background-color: $cinza $imp;    
}


.bg-cinza-c{
    background-color: $cinza-c $imp;    
}

.bg-azul{
    background-color: $azul $imp;
    color: white $imp;
}
.bg-salmao{
    background-color: #ffeae2 $imp;
}


/*usados para menu e rodape*/
.bg-m-verde{
    background-color: #009999 $imp;
    color: white $imp;
}
.border-m-verde{
    border-color: #009999 $imp;
}
.bg-m-amarelo{
    background-color: #FFF059 $imp;    
}



.panel-verde{
    border-color: #1D9B72 $imp;
}

.panel-verde > .panel-heading{
    background-color: #1D9B72 $imp;
    color: white $imp;
    /*text-shadow: 7px 7px #188561;
    padding: 5px;*/
}

.panel-amarelo{
    border-color: #F0AD4E $imp;
}

.panel-amarelo > .panel-heading{
    background-color: #F0AD4E $imp;
    color: white $imp;        
    /*text-shadow: 7px 7px #188561;
    padding: 5px;*/
}

.panel-vermelho{
    border-color: #D9534F $imp;
}

.panel-vermelho > .panel-heading{
    background-color: #D9534F $imp;
    color: white $imp;
}

.panel-laranja{
    border-color: $laranja $imp;    
    /*text-shadow: 7px 7px #188561;
    padding: 5px;*/    
}

.panel-laranja > .panel-heading{
    background-color: $laranja $imp;
    color: white $imp;
}




/*PARTE FEITA PARA CORRIGIR ERROS DOS TABBED PANELS
NOS EXEMPLOS NA NET FUNCIONA NORMAL, NAO SEI PQ AQUI DEU PROBLEMA
COM O PANEL-PRIMARY
*/
/*
li .active{
    background-color: #999999 $imp;
}

.nav-tabs > li > a{
    //background-color: #D9534F $imp;
    color: white $imp;
}

.nav-tabs > li > a:hover{
    background-color: $cinza $imp;
    color: white $imp;
}
*/