@import "../_variaveis.scss";

/*
@media all and (max-width: 768px){
    #principal{
        margin-bottom: 150px $imp;        
    }
}


@media all and (min-width: 768px) and (max-width: 1024px){
    #principal{
        margin-bottom: 50px $imp;        
    }
}

@media all and (max-width: 768px){
    #principal{
        margin-bottom: 0px $imp;        
    }
}


@media all and (min-width: 768px) and (max-width: 1024px){
    #principal{
        margin-bottom: 50px $imp;        
    }
}*/

@media all and (max-width: 768px) {  
    #adicional{
        display: none;    
    }
    #absoluto{    
        margin-top: 0px !important;
    }
}