.titulo{
    color: #A94442;
    text-align: center;
}

.subtitulo{
    color: #cc3300;
    font-weight: bold;
}

.azul{
    color: #1B4667;
    font-weight: bold;
}

.negrito{
    font-weight: bold;
}

.amarelo{
    color: #ff9966;
    font-weight: bold;
}

.borda-amarela{
    border-color: #ffcc99;
}

.vermelho{
    color: #BF747B;
    font-weight: bold;
}